@use "../abstracts" as *;

.hero {
    position: relative;
    overflow: hidden;
    height: 50vh;
    width: 100%;
    
    @include mq(medium) {
        height: 80vh;
    }
    
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-position: top;
        object-fit: cover;
        z-index: -2;
    }

    &__copy {
        position: relative;
        z-index: 1;
    }
}